import { Button} from 'antd';
import { PlusOutlined } from '@ant-design/icons';

<template>
    <a-layout id="components-layout-demo-top-side">
    <a-layout-header class="header">
      <div class="logo" />
      <a-menu
        theme="dark"
        mode="horizontal"
        :default-selected-keys="['2']"
        :style="{ lineHeight: '64px' }"
      >
        
        <a-menu-item href="Home" key="1">
          Todos
        </a-menu-item>
        <a-menu-item key="2">
          A-Z
        </a-menu-item>
        <a-menu-item key="3">
          Categoría
        </a-menu-item>
        <nuxt-link to="newproject">
        <a-button icon="plus" :size="size" />
        <!--<a-menu-item>
          + Agregar Proyecto
        </a-menu-item> -->
        </nuxt-link>

      </a-menu>
    </a-layout-header>
    <a-layout-content style="padding: 0 50px">
      <a-breadcrumb style="margin: 16px 0">
        <a-breadcrumb-item>Home</a-breadcrumb-item>
        <a-breadcrumb-item>List</a-breadcrumb-item>
        <a-breadcrumb-item>App</a-breadcrumb-item>
      </a-breadcrumb>
      <a-layout style="padding: 24px 0; background: #fff">
        <a-layout-sider width="200" style="background: #fff">
          <a-menu
            mode="inline"
            :default-selected-keys="['1']"
            :default-open-keys="['sub1']"
            style="height: 100%"
          >
            <a-sub-menu key="sub1">
              <span slot="title"><a-icon type="user" />Proyectos</span>
              <a-menu-item key="1">
                IA
              </a-menu-item>
              <a-menu-item key="2">
                Open Source
              </a-menu-item>
              </a-sub-menu>
            <a-sub-menu key="sub2">
              <span slot="title"><a-icon type="laptop" />Orden Alfabético</span>
              <a-menu-item key="5">
                A - G
              </a-menu-item>
              <a-menu-item key="6">
                H - N
              </a-menu-item>
              <a-menu-item key="7">
                O - T
              </a-menu-item>
              <a-menu-item key="8">
                U - Z
              </a-menu-item>
            </a-sub-menu>
            <a-sub-menu key="sub3">
              <span slot="title"><a-icon type="notification" />Categorías</span>
              <a-menu-item key="9">
                option9
              </a-menu-item>
              <a-menu-item key="10">
                option10
              </a-menu-item>
              <a-menu-item key="11">
                option11
              </a-menu-item>
              <a-menu-item key="12">
                option12
              </a-menu-item>
            </a-sub-menu>
          </a-menu>
        </a-layout-sider>
        <a-layout-content :style="{ padding: '0 24px', minHeight: '280px' }">
          <proyectos/>
        </a-layout-content>
      </a-layout>
    </a-layout-content>
    <a-layout-footer style="text-align: center">
      IIIQ-2020 | Programación Gráfica
    </a-layout-footer>
  </a-layout>
</template>

<style>
#components-layout-demo-top-side .logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 28px 16px 0;
  float: left;
}
</style>
