<template>
<a-form-item >
  <registro/>
      <a-button type="primary" html-type="submit" href="index">
        Submit
      </a-button>
    </a-form-item>
  

</template>


<script>
export default {
  data() {
    return {
      collapsed: false,
    };
  },
};
</script>