<template>
  <a-form :form="form">
    <a-form-item
      :label-col="formItemLayout.labelCol"
      :wrapper-col="formItemLayout.wrapperCol"
      label="Nombre de Proyecto"
    ><a-input
        v-decorator="[
          'nombre',
          { rules: [{ required: true, message: 'Introducir nombre' }] },
        ]"
        placeholder="Introducir nombre"
      />
    </a-form-item>
  
	<a-form v-bind="formItemLayout" :form="form" @submit="handleSubmit">
        <a-form-item label="Fecha de Lanzamiento">
            <a-date-picker v-decorator="['date-picker', config]" />
        </a-form-item>        
    </a-form>

	<a-form v-bind="formItemLayout" :form="form" @submit="handleSubmit">
    <a-form-item label="Descripción">
      <a-input
        v-decorator="['note', { rules: [{ required: true, message: 'Ingresar breve descripción!' }] }]"
      />
    </a-form-item>
	</a-form >
	<a-form-item label="Categoría">
      <a-select
        v-decorator="[
          'categoria',
          { rules: [{ required: true, message: 'Seleccionar una categoria!' }] },
        ]"
        placeholder="Seleccionar una categoria"
        @change="handleSelectChange"
      >
        <a-select-option value="IA">
          IA
        </a-select-option>
        <a-select-option value="OpenSource">
          OpenSource
        </a-select-option>
      </a-select>
    </a-form-item>

	<a-form-item label="Tipo de Lanzamiento">
      <a-select
        v-decorator="[
          'lanzamiento',
          { rules: [{ required: true, message: 'Seleccionar tipo' }] },
        ]"
        placeholder="Seleccionar tipo"
        @change="handleSelectChange"
      >
        <a-select-option value="male">
          male
        </a-select-option>
        <a-select-option value="female">
          female
        </a-select-option>
      </a-select>
    </a-form-item>

	<a-form-item v-bind="formItemLayout" label="Sitio Web / Repositorio">
      <a-auto-complete
        v-decorator="['website', { rules: [{ required: true, message: 'Ingresar sitio WEB!' }] }]"
        placeholder="Ingresar sitio WEB"
        @change="handleWebsiteChange"
      >
        <template slot="dataSource">
          <a-select-option v-for="website in autoCompleteResult" :key="website">
            {{ website }}
          </a-select-option>
        </template>
        <a-input />
      </a-auto-complete>
    </a-form-item>

	<a-form-item
      :label-col="formItemLayout.labelCol"
      :wrapper-col="formItemLayout.wrapperCol"
      label="Autor"
    >
    <a-input
        v-decorator="[
          'nombre',
          { rules: [{ required: true, message: 'Introducir nombre Autor!' }] },
        ]"
        placeholder="Introducir nombre autor"
      />
	</a-form-item>

	<a-upload-dragger
    name="file"
    :multiple="true"
    action="https://www.mocky.io/v2/5cc8019d300000980a055e76"
    @change="handleChange"
  >
    <p class="ant-upload-drag-icon">
      <a-icon type="inbox" />
    </p>
    <p class="ant-upload-text">
      Haga Clic o arrastre archivo para adjuntar
    </p>
    <p class="ant-upload-hint">
      Support for a single or bulk upload. Strictly prohibit from uploading company data or other
      band files
    </p>
  </a-upload-dragger>

 

  </a-form>
  </template>
	
	

<script>
const formItemLayout = {
  labelCol: { span: 4 },
  wrapperCol: { span: 8 },
};
const formTailLayout = {
  labelCol: { span: 4 },
  wrapperCol: { span: 8, offset: 4 },
};
export default {
  data() {
    return {
      checkNick: false,
      formItemLayout,
      formTailLayout,
      form: this.$form.createForm(this, { name: 'dynamic_rule' }),
    };
  },
  methods: {
    check() {
      this.form.validateFields(err => {
        if (!err) {
          console.info('success');
        }
      });
    },
    handleChange(e) {
      this.checkNick = e.target.checked;
      this.$nextTick(() => {
        this.form.validateFields(['nickname'], { force: true });
      });
    },
	
    handleChange(info) {
      const status = info.file.status;
      if (status !== 'uploading') {
        console.log(info.file, info.fileList);
      }
      if (status === 'done') {
        this.$message.success(`${info.file.name} file uploaded successfully.`);
      } else if (status === 'error') {
        this.$message.error(`${info.file.name} file upload failed.`);
      }
    },
  },
  
};
</script>