<template>
    <div>
        <a-row>
      <a-col :span="8" v-for="(item,index) in proyectos" :key="index" >
        <a-popover :title="item.nombre">
    <template slot="content">
      <p >{{item.detalle}}</p>
      <p>{{item.web}}</p>
    </template>
          <a-card hoverable style="width: 240px">
          <img
            slot="cover"
            alt="example"
            v-bind:src="item.img"
          />
    <a-card-meta :title="item.nombre">
      <template slot="description">
        {{item.catego}}
      </template>
    </a-card-meta>
  </a-card>
  </a-popover>
      </a-col>
        </a-row>
    </div>
    
</template>

<script>
export default {
  data() {
    return {
      proyectos:[{
          nombre:'Acumos - The Linux Foundation',
          img:'https://www.linuxfoundation.org/wp-content/uploads/2017/10/logo_acumos_ai_400-300x184.png',
          detalle: 'Con Acumos, los desarrolladores de software pueden pasar de la escritura de código y la edición de kits de herramientas de IA a un proceso de capacitación de código similar a un salón de clases.',
          catego: 'Open Source',
          web: 'https://www.acumos.org/',
      },
      {
          nombre:'TensorFlow',
          img:'https://www.gstatic.com/devrel-devsite/prod/vf2803d8fceba443283ee4e8627acfcc1365957a4f42d24f2965d2cb7faab19ba/tensorflow/images/logo.png',
          detalle: 'Es un sistema de aprendizaje de código abierto fácil de usar y desplegar en una variedad de plataformas.',
          catego: 'Open Source',
          web: 'https://www.tensorflow.org/',
      },
      {
          nombre:'Olly',
          img:'https://1.bp.blogspot.com/-uRIjTcOj1fY/WdT_RUVeDDI/AAAAAAAACMY/fWhDyNw9V5MoJaVLVfBBWifyWQop7H2sgCLcBGAs/s1600/giphy.gif',
          detalle: 'La compañía británica Emotech decidió darle a Olly una personalidad generada por una mezcla de algoritmos de Machine Learning que enseña al robot a ser parecido a su dueño.',
          catego: 'IA',
          web: 'https://www.welcome.ai/emotech',
      },
      {
          nombre:'Kubernetes',
          img:'https://magazine.odroid.com/wp-content/uploads/Kubernetes-logo.png',
          detalle: 'Kubernetes es una plataforma portable y extensible de código abierto para administrar cargas de trabajo y servicios. Kubernetes facilita la automatización y la configuración declarativa.',
          catego: 'OpenSource',
          web: 'https://kubernetes.io/',
      },
      {
          nombre:'PaccMann',
          img:'https://lh4.googleusercontent.com/1ZSfMjZRJctMN2JOwMp8Ki9Dfo-QCTVKA2cW7lZE5Shu9I_coIgF94jMMPZCkJayZrUjDxjLGkeXL9OTB7KoyhmWd9isT0TkgA2qCmifOrstIDo7zrYJ7BiF4A3fyeDdBaPZCu9o',
          detalle: 'Predicción de la sensibilidad de compuestos anticancerígenos con redes neuronales multimodales basadas en la atención',
          catego: 'IA - Open Source',
          web: 'https://www.zurich.ibm.com/paccmann/',
      },
      {
          nombre:'Acumos - The Linux Foundation',
          img:'https://www.acumos.org/wp-content/uploads/sites/53/2018/03/logo_acumosai.png',
          detalle: 'OpenSource',
          catego: 'OpenSource',
          web: '',
      },
      {
          nombre:'Acumos - The Linux Foundation',
          img:'https://www.acumos.org/wp-content/uploads/sites/53/2018/03/logo_acumosai.png',
          detalle: 'OpenSource',
          catego: 'OpenSource',
          web: '',
      },
      {
          nombre:'Acumos - The Linux Foundation',
          img:'https://www.acumos.org/wp-content/uploads/sites/53/2018/03/logo_acumosai.png',
          detalle: 'OpenSource',
          catego: 'OpenSource',
          web: '',
      },
      {
          nombre:'Acumos - The Linux Foundation',
          img:'https://www.acumos.org/wp-content/uploads/sites/53/2018/03/logo_acumosai.png',
          detalle: 'OpenSource',
          catego: 'OpenSource',
          web: '',
      },
      {
          nombre:'Acumos - The Linux Foundation',
          img:'https://www.acumos.org/wp-content/uploads/sites/53/2018/03/logo_acumosai.png',
          detalle: 'OpenSource',
          catego: 'OpenSource',
          web: '',
      },
      {
          nombre:'Acumos - The Linux Foundation',
          img:'https://www.acumos.org/wp-content/uploads/sites/53/2018/03/logo_acumosai.png',
          detalle: 'OpenSource',
          catego: 'OpenSource',
          web: '',
      },]
    };
  },
};
</script>